@model HotelManagement.ViewModels.RoomViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("SearchAct", "Home", "POST"))
{
    <div>    
	<div class="form-group">
      @Html.LabelFor(model => model.CategoryTypes, "Room category")
      @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.CategoryTypes, "CategoryId", "Name"), new { @id = "CategoryList" })
      <div class="error-holder">
       @Html.ValidationMessageFor(model => model.CategoryTypes, "", new { @class = "text-danger" })
         </div>
          </div>
        Last Name:<br>
        <input type="text" id="nameToFind" name="nameToFind">
        <input type="submit" id="submitId" value="submit" />
    </div>
}

@{
    if(ViewBag.SearchKey != null)
    {
        <span>
            Search Key: @ViewBag.SearchKey
        </span>
    }
}

<div class="content" style="display: block">

    @foreach (var item in Model.Rooms)
    {
        <!--Ska det vara false eller true?? lite confused haha.-->
        if (Model.RoomStatus == false)
        {     
        <div class="row event" id="myTable">
            <div class="col-md-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                <div class="thumbnail">
                    <h3>Available Rooms</h3>
                    <img style="max-height: 450px" src="" alt="room image">
                    <div class="caption">                                        
                        <p>
                             Categorytype:
                            <!--Kanske måste göra en foreach för varje värde här? om vi vill ha det snyggt, inte säker på designen än.-->
                            @foreach (var categoryType in @Model.CategoryTypes)
                            {
                                if (categoryType.RoomCategoryId == @item.RoomCategoryId)
                                {
                                    @categoryType.RoomCategoryName
                                    @categoryType.RoomCategoryDesc
                                    @categoryType.RoomCategoryBeds          
                                    @categoryType.RoomCapacity.RoomCapacityName
                                    @categoryType.RoomCapacity.RoomCapacityAdults
                                    @categoryType.RoomCapacity.RoomCapacityChildren
                                }
                            }
                        </p>                                                    
                   </div>
                </div>
            </div>
        </div>
        }
    }
</div>

@section Script{


<script type="text/javascript">
            $(document).ready(function () {
                $(document).on("change", '[id*="ProductList"]', function () {
                    $.post("/QuoteViewModel/GetProduct", { pId: $(this).val() }, function (data) {
                        $("[id*='ProductId']").val(data.ProductId);
                        $("[id*='Price']").val(data.Price);
                    });
                });
              });
            </script>
}

