@model HotelManagement.ViewModels.RoomViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="content" style="display: block">

    @foreach (var item in Model.Rooms)
    {
        <!--Ska det vara false eller true?? lite confused haha.-->
        if (Model.RoomStatus == false)
        {     
        <div class="row event" id="myTable">
            <div class="col-md-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                <div class="thumbnail">
                    <h3>Available Rooms</h3>
                    <img style="max-height: 450px" src="" alt="room image">
                    <div class="caption">                                        
                        <p>
                             Categorytype:
                            <!--Kanske måste göra en foreach för varje värde här? om vi vill ha det snyggt, inte säker på designen än.-->
                            @foreach (var categoryType in @Model.CategoryTypes)
                            {
                                if (categoryType.RoomCategoryId == @item.RoomCategoryId)
                                {
                                    @categoryType.RoomCategoryName
                                    @categoryType.RoomCategoryDesc
                                    @categoryType.RoomCategoryBeds          
                                    @categoryType.RoomCapacity.RoomCapacityName
                                    @categoryType.RoomCapacity.RoomCapacityAdults
                                    @categoryType.RoomCapacity.RoomCapacityChildren
                                }
                            }
                        </p>                                                    
                   </div>
                </div>
            </div>
        </div>
        }
    }



</div>

