@model HotelManagement.ViewModels.BookingViewModel
@using System.Web.Mvc.Html

@{
    ViewBag.Title = "Index";
}


<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.css" rel="stylesheet" />

	<!-- Website CSS style -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Website Font style -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">
<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<style>
    .main {
        margin: 50px 15px;
    }

    h1.title {
        font-size: 32px;
        font-family: 'Passion One', cursive;
        font-weight: 400;
    }

    hr {
        width: 10%;
        color: #fff;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        margin-bottom: 15px;
    }

    input,
    input::-webkit-input-placeholder {
        font-size: 11px;
        padding-top: 3px;
    }

    .main-login {
        background-color: #fff;
        /* shadows and rounded borders */
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px !important;
        -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    }

    .form-control {
        height: auto !important;
        padding: 8px 12px !important;
    }

    .input-group {
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21) !important;
        -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21) !important;
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21) !important;
    }

    .main-center {
        margin-top: 30px;
        margin: 0 auto;
        max-width: 400px;
        padding: 10px 40px;
        background-color: #353333;
        color: #FFF;
        text-shadow: none;
        -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
        -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    }

    span.input-group-addon i {
        color: #009edf;
        font-size: 17px;
    }

    .login-button {
        margin-top: 5px;
    }

    .input-group{
        color: black!important;
    }

    .login-register {
        font-size: 11px;
        text-align: center;
    }
</style>



<h2>Index</h2>



<div class="container">
    <div class="row main">
        <div class="main-login main-center">
            <h1 class="title text-center">Book the room</h1>
            @using (Html.BeginForm("CreateBooking", "Booking", "POST"))
            {
                @Html.AntiForgeryToken()



                <div class="form-group has-feedback has-feedback-right">
                    @Html.LabelFor(model => model.BookingArrivalDate, "From", htmlAttributes: new { @class = "cols-sm-2 control-label" })
                    <div class="cols-sm-10">
                        <div class="input-group date" id="datetimepicker">
                            <span class="input-group-addon"><i  class="fa fa-calendar fa" aria-hidden="true"></i></span>
                            @Html.EditorFor(model => model.BookingArrivalDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Please select a date" } })
                            <div class="error-holder">
                                @Html.ValidationMessageFor(model => model.BookingArrivalDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group has-feedback has-feedback-right">
                    @Html.LabelFor(model => model.BookingDepartureDate, "To", new { @class = "cols-sm-2 control-label" })
                    <div class="cols-sm-10">
                        <div class="input-group date" id="datetimepicker2">
                            <span class="input-group-addon"><i class="fa fa-calendar fa" aria-hidden="true"></i></span>
                            @Html.EditorFor(model => model.BookingDepartureDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Please select a date" } })
                            <div class="error-holder">
                                @Html.ValidationMessageFor(model => model.BookingDepartureDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BookingTotalAdults, "Adults", new { @class = "cols-sm-2 control-label" })
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            @Html.TextBoxFor(model => model.BookingTotalAdults, new { @class = "form-control", placeholder = "How many adults?", type = "number" })
                            <div class="error-holder">
                                @Html.ValidationMessageFor(model => model.BookingTotalAdults, "", new { @class = "text-danger"})
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BookingTotalChilds, "Children", new { @class = "cols-sm-2 control-label" })
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            @Html.TextBoxFor(model => model.BookingTotalChilds, new { @class = "form-control", placeholder = "How many children?", type = "number" })
                            <div class="error-holder">
                                @Html.ValidationMessageFor(model => model.BookingTotalChilds, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.HiddenFor(model => model.BookingRoomId, new { id = @Session["RoomId"].ToString() })
                    @Html.HiddenFor(model => model.BookingStatus, new { id = true })
                    @Html.HiddenFor(model => model.BookingId, new { id = "hiddenId" })                
                        <input type="submit" style="width: 100%;" value="Book" class="btn btn-primary create-save-btn" />               
                </div>

            }
        </div>
    </div>
</div>





<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/locale-all.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

<script>
    /* Global FUNCTIONS */
    function renderCalendar(data) {
        $('#calendar')
            .fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                locale: 'sv',
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: data,

            });
    }
    /* Global FUNCTIONS Ends */

    /* DatetimePicker*/
    $('#datetimepicker')
        .datetimepicker({
            locale: 'sv',
            format: 'YYYY-MM-DD HH:MM',
            
        });
    $('#datetimepicker2')
        .datetimepicker({
            locale: 'sv',
            format: 'YYYY-MM-DD HH:MM',       
        });

    $(".btn-primary").on("click", function () {
        $(".alert").removeClass("in").show();
        $(".alert").delay(200).addClass("in").fadeOut(2000);
    });
</script>











      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

    <script>
     
    </script>

   
}